.breadcrumb span{color: #999;}
.breadcrumb>.active {color: #000;}
.chartBox{
    width: 360px;float: left;
    margin-left: 15px;
}
.chartBox:first-child{margin-left: 0;}
.chartPanel{
    height: 300px;
}
.count{
    line-height: 24px;text-align: center;
}
.info{
    line-height: 24px;text-align: center;
}
.col-my{
    position: relative;min-height: 1px;
    padding-right: 15px;padding-left: 15px;
    float: left;line-height: 34px;
}
.selBox select{width: 190px; }