#tableDiv{
    width: 100%;
    min-width: 600px;
   padding: 10px;
   background: #fff;

}
.productItem{
    width: 100%;
    margin-top: 20px;
}
.productItem td{
    vertical-align: middle;
    text-align: center;
    padding: 10px;
    border: #eee 1px solid;
}
.imgtd img{
    max-width: 100%;
    width: 200px;
    max-height: 200px;
    width: 48px;
    height: 48px;
}
.tableDiv{
}
.inputtd{
    width: 40px;
}
thead td{
    background: #eee;
}
*{
    box-sizing: border-box;
}
.adbtn{
        display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.mubandialog{
    background: rgba(0,0,0,0.5);
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;

}
.dialog{
    display: none;
}
.formDiv{
       background: #fff;
    width: 600px;
    padding: 20px 20px  40px 20px;
   margin:0 auto; 
   margin-top: 30px;
   
}
