.img-box .upimg-div .z_file{

}
.img-box .upimg-div .z_file{
    margin-bottom: 0px;
}
.z_photo{
    text-align: center;
}
.card{
    width: 800px;
    margin-bottom: 20px;
}
.z_file .add-img{
    height: 200px;
    width: 200px;
}
.img-box .upimg-div .z_file{
    width: 200px;
}
.addbtndiv{
    width: 800px;
    text-align: center;
}