.img-box .upimg-div .z_file{

}
.img-box .upimg-div .z_file{
    margin-bottom: 0px;
}
.z_photo{
    text-align: center;
}
.card{
    width: 800px;
    margin-bottom: 20px;
}
.z_file .add-img{
    height: 100px;
    width: 100px;
}
.img-box .upimg-div .z_file{
    width: 200px;
    height: 200px;
    padding-top: 50px;
}
.addbtndiv{
    width: 800px;
    text-align: center;
    padding-bottom: 50px;
}
.upimg-div .up-section{
 width: 100%;
    height: 200px;
}